baseURL = "/"
languageCode = "fr-FR"
defaultContentLanguage = "fr"
title = "My New Hugo Site"
timeout = 600_000
buildDrafts = true

enableRobotsTXT = true

enableGitInfo = true


[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      strikethrough = false
      [markup.goldmark.extensions.extras.delete]
        enable = true
      [markup.goldmark.extensions.extras.insert]
        enable = true
      [markup.goldmark.extensions.extras.mark]
        enable = true
      [markup.goldmark.extensions.extras.subscript]
        enable = true
      [markup.goldmark.extensions.extras.superscript]
        enable = true
    [markup.goldmark.parser]
      wrapStandAloneImageWithinParagraph = false # to apply attributes to a standalone image element
      [markup.goldmark.parser.attribute] # enables markdown attributes for block and title elements
        block = true
        title = true
    [markup.goldmark.renderer]
        unsafe = true
        # hardWraps = true
    [markup.goldmark.renderHooks.link]
        useEmbedded = "fallback"



  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    hl_inline = false
    lineAnchors = ''
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = false
    noClasses = true
    noHl = false
    # nice one dark:
    # catppuccin-{ frappe, macchiato, mocha}, nord, onedark, paraiso-dark, tokyonight-{ night, moon}, vulcan
    # mes deux préférés sont 'tokyonight-moon' et 'vulcan'
    # style = 'tokyonight-moon'
    style = 'vulcan'
    tabWidth = 4


# [frontmatter]
# date = [":git" ,"date", "publishDate", "lastmod"]

[[module.imports]]
  path = "/home/sebastien/repos/themes/seb-doc"

[security.exec]
allow = [
  "^sass$",
  "^go$",
  "^npx$",
  "^postcss$",
  "^asciidoctor$",
  "^git$"
]
osEnv = [ "(?i)^(PATH|PATHEXT|APPDATA|TMP|TEMP|TERM|RUBYLIB)$" ]

[security.funcs]
getenv = [ "^HUGO_" ]

[security.http]
methods = [ "(?i)GET|POST" ]
urls = [ ".*" ]

[caches.getjson]
dir = ":cacheDir/:project"
maxAge = -1

[caches.getcsv]
dir = ":cacheDir/:project"
maxAge = -1

[caches.images]
dir = ":cacheDir/images"
maxAge = "1440h"

[caches.assets]
dir = ":resourceDir/_gen"
maxAge = -1
