# ---------------------------------------------------------
#  CORE HUGO SETTINGS
# ---------------------------------------------------------
baseURL = "/"
languageCode = "fr-FR"
defaultContentLanguage = "fr"
title = "Au Son du Diois"
timeout = 600_000
enableRobotsTXT = true
enableGitInfo = true
enableEmoji = true

[[module.imports]]
  path = "github.com/matharel/seb-doc/main"
